* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color: black;
  --bg-color: #fbfbfb;
  --img-shadow: #3c797e25;
  --hover: rgba(255, 255, 255, 0.16);
  --selection-color: #1da5a5;
  --dark-bg-color: #1a1a1b;
  --dark-color: white;
  --dark-img-shadow: rgba(8, 253, 216, 0.07);
  --dark-selection-color: #08fdd8;
}

body {
  font-family: "Nunito", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--color);
  transition-duration: 0.2s;
}

::-moz-selection {
  color: var(--selection-color);
}

::selection {
  color: var(--selection-color);
}

.dark {
  background-color: var(--dark-bg-color);
  color: var(--dark-color);
  --selection-color: var(--dark-selection-color);
  --img-shadow: var(--dark-img-shadow);
}
.dark .github svg {
  color: var(--dark-color) !important;
}
.dark .resume svg {
  color: var(--dark-color) !important;
}
.dark .navbar-links-hi {
  background-color: var(--dark-color);
  color: var(--color);
}
.dark .navbar-links-hi:hover {
  color: var(--dark-color);
}
.dark .work-item {
  background-color: var(--dark-bg);
}
.dark .sun {
  display: block !important;
}
.dark .moon {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6%;
  position: relative;
  z-index: 2;
}
.navbar-logo {
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.navbar-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  color: currentColor;
}
.navbar-links li {
  margin: 0 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 200ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.navbar-links li a {
  text-decoration: none;
  color: currentColor;
  padding: 10px 20px;
}
.navbar-links li p {
  font-size: 14px;
  font-weight: 700;
}
.navbar-links-mode {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.navbar-links-mode .sun {
  display: none;
}
.navbar-links-hi {
  background-color: var(--color);
  color: var(--bg-color);
  margin-right: 0 !important;
}
.navbar-links-hi:hover {
  background-color: transparent !important;
  text-decoration: underline;
  color: var(--color);
}

.landing {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 150px auto;
  padding: 0 6%;
}
.landing-img {
  width: 300px;
  min-width: 300px;
  height: 390px;
  position: relative;
}
.landing-img img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  border-radius: 6px;
  animation: fadeImage 1s ease;
}
@keyframes fadeImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.landing-img-shadow {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: var(--img-shadow);
  opacity: 0;
  animation: fadeShadow 1s ease 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeShadow {
  0% {
    opacity: 0;
    top: 0;
    left: 0;
  }
  100% {
    opacity: 1;
    top: 30px;
    left: 30px;
  }
}
.landing-content {
  margin-left: 100px;
  max-width: 600px;
  opacity: 0;
  animation: fadeContent 1s ease 0.5s;
  animation-fill-mode: forwards;
  position: relative;
  z-index: 2;
}
.landing-content-name h1 {
  font-size: 28px;
  font-weight: 600;
}
.landing-content-name h1 span {
  color: var(--selection-color);
}
.landing-content-name-line {
  background-color: var(--selection-color);
  width: 0px;
  height: 3px;
  border-radius: 50px;
  transition: background-color 0.2s;
  animation: grow 0.8s ease 1.5s;
  animation-fill-mode: forwards;
}
.landing-content p {
  font-size: 15px;
  margin-top: 10px;
}
.landing-content p:first-of-type {
  margin-top: 25px;
}
.landing-content p#skills span {
  color: var(--selection-color);
}
.landing-content-social {
  list-style-type: none;
  display: flex;
  margin-top: 25px;
}
.landing-content-social li {
  border-radius: 4px;
  margin-right: 10px;
}
.landing-content-social li a {
  text-decoration: none;
  border-radius: 4px;
}
.landing-content-social li a svg {
  transition-duration: 0.1s;
  width: 20px;
}
.landing-content-social li a svg g path,
.landing-content-social li a svg g polygon {
  transition-duration: 0.1s;
}
.landing-content-social li:hover {
  transform: scale(1.1);
}
.landing-content-social .github svg {
  color: black;
}
.landing-content-social .resume svg {
  color: black;
}
@keyframes fadeContent {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 120px;
  }
}

.work {
  margin: 0 auto;
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1440px;
  padding-right: 80px;
  padding-left: 80px;
}
.work h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.work-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 8px;
  color: var(--bg-color);
  overflow: hidden;
  height: 520px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 80px;
  width: 100%;
  background-color: var(--bg);
}
.work-item:hover .work-item-img img {
  transform: translate3d(0px, -20px, 0px);
}
.work-item:hover .work-item-img .back {
  transform: translate3d(-20px, -20px, 0);
}
.work-item-content {
  max-width: 390px;
  margin: 80px 11% 80px 80px;
  width: 100%;
}
.work-item-content h1 {
  font-size: 32px;
  font-weight: 700;
}
.work-item-content h1 span {
  display: block;
  font-weight: 400;
  font-size: 12px;
}
.work-item-content p {
  margin: 25px 0 20px 0;
  font-weight: 600;
}
.work-item-content-tools {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.work-item-content-tools span {
  font-size: 12px;
  background-color: var(--hover);
  border-radius: 2px;
  padding: 3px 8px;
  cursor: default;
}
.work-item-content-btns a {
  margin-bottom: 5px;
  padding: 10px;
  margin-left: -10px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 600;
  display: flex;
  width: 140px;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.work-item-content-btns a:hover {
  background-color: var(--hover);
}
.work-item-content-btns a svg {
  margin-right: 10px;
  fill: rgb(139, 139, 139);
}
.work-item-img {
  position: relative;
  display: flex;
  width: 100%;
  padding-right: 64px;
  justify-content: flex-start;
  align-items: flex-end;
}
.work-item-img img {
  position: relative;
  z-index: 1;
  width: 480px;
  height: 440px;
  margin-bottom: -40px;
  border-radius: 4px;
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.2);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
  max-width: 100%;
  display: inline-block;
  transition-duration: 0.3s;
  transform-style: preserve-3d;
}
.work-item-img .back {
  z-index: 0;
  width: 280px;
  height: 440px;
  margin-top: -4px;
  margin-left: -100px;
  align-self: flex-start;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}
.work-item:nth-child(odd) .work-item-content {
  order: 2;
}
.work-item:nth-child(odd) .work-item-img {
  padding-right: 0;
  padding-left: 64px;
  flex-direction: row-reverse;
}
.work-item:nth-child(odd) .work-item-img .back {
  margin-right: -100px;
  margin-left: 0;
}
.work .single {
  align-items: center;
  justify-content: center;
}
.work .single:hover img {
  transform: translate3d(0, 0, 0) scale(1.05);
}
.work .single > div:first-child {
  margin: 80px;
  max-width: 500px;
  min-width: 400px;
}
.work .single img {
  width: 100%;
  min-width: 500px;
  max-width: 600px;
  height: auto;
  max-height: none;
  margin-bottom: 0;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

@media (max-width: 1250px) {
  .work-item-content {
    margin: 60px;
  }
  .work .single {
    flex-direction: column;
    height: auto !important;
    align-items: flex-start;
    padding: 60px;
  }
  .work .single > div:nth-child(1) {
    margin: 0;
    order: 1;
  }
  .work .single > div:nth-child(2) {
    padding: 0;
    margin-bottom: 50px;
    margin-top: 0;
    width: auto;
  }
}
@media (max-width: 1000px) {
  .landing {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    overflow: hidden;
  }
  .landing-img {
    width: 90%;
    min-width: auto;
    max-width: 300px;
    height: auto;
  }
  .landing-content {
    text-align: center;
    max-width: 600px;
    margin-left: 0;
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .landing-content-name span {
    display: none;
  }
  .work-item {
    flex-direction: column;
    height: 800px;
    padding: 60px;
    padding-bottom: 0;
  }
  .work-item-content {
    margin: 0;
  }
  .work-item-img {
    margin-top: -40px;
    padding-right: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  .work-item-img .back {
    height: 520px;
    margin-left: -120px;
    align-self: flex-end;
    -o-object-position: 50% 0%;
       object-position: 50% 0%;
  }
  .work-item:nth-child(odd) .work-item-content {
    order: 0;
  }
  .work-item:nth-child(odd) .work-item-img {
    padding-left: 0;
    flex-direction: row;
  }
  .work-item:nth-child(odd) .work-item-img .back {
    margin-left: -100px;
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .work {
    padding: 0 4%;
  }
  .work-item {
    padding: 8%;
    padding-bottom: 0;
    height: auto;
    margin-bottom: 11%;
  }
  .work-item-img {
    margin-top: 50px;
  }
  .work-item-img img {
    height: 320px;
  }
  .work-item-img .back {
    display: none;
  }
  .work .single {
    padding: 8%;
  }
  .work .single > div:nth-child(1) {
    min-width: 100%;
  }
  .work .single > div:nth-child(2) img {
    min-width: 100%;
  }
}
#particles-js {
  position: relative;
}

#particles-js canvas {
  display: block;
}/*# sourceMappingURL=style.css.map */